:root {
  --color-very-dark-blue: #0f1424;
  --color-dark-blue: #1c1f4a;
  --color-desaturated-blue: #5646e9;
  --color-pale-blue: #bdc1ff;
  --color-white: #fff;
  --default-padding: 2rem;
  --default-radius: 0.8rem;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: var(--color-white);
}

/* End Css Reset*/

/* Start Global Styles */
.container {
  background-color: #e5e5f7;
  opacity: 0.9;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 18px
    ),
    repeating-linear-gradient(#444cf755, #444cf7);
  background-repeat: repeat;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 20rem);
  align-content: center;
  justify-content: center;
  gap: var(--default-padding);
  padding-bottom: 2rem;

  /*   &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.2rem);
  } */
}

/*End Global Styles*/

/*Responsive Styles*/

@media (max-width: 900px) and (min-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    align-content: start;
  }
}
@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*End responsive Styles*/

/*Start Card Styles*/

.pic {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.4rem solid var(--color-white);
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--default-padding);
  margin: auto 0;
  justify-content: center;
  align-items: center;
}
.card {
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-blue);
  border-radius: var(--default-radius);
  overflow: hidden;

  & .top {
    background-color: #444cf7;
    padding: var(--default-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
  }

  &:nth-child(1) {
    grid-row: 1/3;
  }
  &:not(:nth-child(1)) {
    /*     text-align: center; */
    padding: var(--default-padding);
  }
}

.name {
  font-size: 2.6rem;
  font-weight: 600;
  font-style: bold;
  margin-top: 0.5rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.icons {
  display: flex;
  gap: 0.5rem;
}

.row {
  display: flex;
  flex: 1;
  gap: 0.5rem;
  text-align: center;
}

.username {
  font-size: 1.2rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/*End Card Styles*/

/*Start Project Card Styles*/
.title {
  font-size: 2.4rem;
  font-weight: 400;
}

.type {
  font-size: 1.2rem;
  font-weight: 400;
}

del {
  text-decoration-thickness: 4px;
}
.stack {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: var(--default-padding);
  font-size: 1.4rem;
}

.stack-title {
  font-size: 1.2rem;
  font-weight: 300;
  opacity: 0.8;
}

.languages {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.language {
  display: inline-block;
  padding: 0.5rem;
  border-radius: calc(var(--default-radius) / 3);
  background-color: var(--color-desaturated-blue);
}
